<section class="shadow-xl rounded-lg p-5 w-fit">

  <div class="flex justify-center py-5">
    @if(user()!.urlProfilePhoto){
    <img [src]="imageUtils.resize(user()!.urlProfilePhoto,200)" alt="" class="size-40 rounded-sm">
    }@else {
    <img src="sinfoto.jpg" alt="" class="size-40 rounded-sm">
    }
  </div>

  <div class="mb-5">
    <p><strong>Name:</strong> {{user()?.name}} {{user()?.lastname}}</p>
    <p><strong>Email:</strong> {{user()?.email}}</p>
    <p><strong> Cellphone:</strong> {{user()?.cellphone}}</p>
    <p><strong> Age: </strong>{{user()?.age}}</p>
  </div>

  <div class="flex justify-end">
    <button [routerLink]="['/form',this.user()?.id]" class="text-white bg-green-600 px-2 py-1 rounded-sm
     cursor-pointer">Editar</button>
  </div>

</section>